
/*BASICS*/
@import url('basics/base.css');
@import url('basics/layouts.css');



/*COMPONENTS*/
@import url('components/main-header.css');
@import url('components/gallery.css');

/*SETUP*/
@import url('setup/vars.css');
@import url('setup/typography.css');