
*{
    box-sizing: border-box;
    font-family:'popping';
    font-weight: 700;
}


body{
    padding: 0;
    margin: 0;
    background-color: var(--color-2);
}

.active{
    content: ✖;
    right: 0;
    display: flex;
}

.not-active{
    content: ☰;
    right: -315px;
    display: none;
}