
.meme-editor{
    display: grid;
    grid-template-columns: repeat(2,max-content);
    gap: 50px;
    justify-self: center;
}


.edit-tools{
    display: grid;
}


.edit-sec-2{
    display: grid;
    grid-template-columns: repeat(5,1fr);

    >#fontFamiliy{
        grid-column: span 3;
    }
}
