
.meme-editor{
    display: grid;
    grid-template-columns: auto max-content;
    gap: 50px;
    justify-self: center;
    width: 100%;
}


.edit-tools{
    display: grid;
    align-items: center;
}


.edit-sec-2{
    display: grid;
    grid-template-columns: repeat(5,1fr);

    >#fontFamily{
        grid-column: span 3;
    }
}
