

.meme-editor{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 50px;
    justify-items: center;
    justify-self: center;
}



.edit-tools{
    display: grid;
}


.edit-sec-2{
    display: grid;
    grid-template-columns: repeat(5,1fr);

    >#fontFamiliy{
        grid-column: span 3;
    }
}