.main-layout {
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 1200px) minmax(16px, 1fr);

    >.gallery {
        grid-column: 2/-2;
    }

    >.meme-editor {
        grid-column: 2/-2;
    }
}

.main-header {
    grid-column: 1/-1;
    display:grid;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 400px) minmax(auto, 800px) minmax(16px, 1fr);
}

.logo{
    grid-column: 2;
}

.main-nav{
    grid-column:3
}