.main-layout {
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 1200px) minmax(16px, 1fr);

    >.gallery {
        grid-column: 2/-2;
    }

    >.meme-editor {
        grid-column: 2/-2;
    }
    >.saved-memes{
        grid-column: 2/-2;
    }
}

.main-header {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, max-content) minmax(auto, 900px) minmax(16px, 1fr);
}

.logo {
    grid-column: 2;
}

.main-nav {
    grid-column: 3;
}

.categories{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 10px;
}

.gallery-imgs {
   columns: 200px 5;
   gap: 15px;
   >.gallery-img{
    margin-bottom: 10px;
   }
}

.saved-memes.no-msg{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    columns: 200px 4;
    gap: 15px;
    >.gallery-img{
     margin-bottom: 10px;
    }
}
