.gallery,
.saved-memes {
    border: 2px black solid;
    background-color: var(--color-1);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.categories {
    padding: 5px 0 40px;

}

.gallery-img {
    position: relative;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 10px black;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.no-memes-msg{
    justify-self: center;
    color: white;
    padding: 40px;
}


.img-btn{
    position:absolute;
    right: 10px;
    top: 10px;
    color: white;
    background-color: var(--color-2);
    border-radius: 5px;
    border: 1px solid black;
    transition: .3s;
    &:hover{
        cursor: pointer;
        filter: brightness(0.8);  
    }
    &:active{
        filter: brightness(0.5);  
    }
}

.img-container{
    position: relative;
}