.gallery,
.saved-memes {
    border: 2px black solid;
    background-color: var(--color-1);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.categories {
    padding: 5px 0 40px;

}

.gallery-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 10px;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.no-memes-msg{
    justify-self: center;
    color: white;
    padding: 40px;
}