.main-header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 70px;
    background-image: var(--bgc-1);
    border-radius: 15px;
    margin: 10px;
    align-content: center;
}

.main-nav {
    text-align: end;
}

.gallery-btn,
.memes-btn,
.about-btn {
    color: white;
    padding: 10px;
    height: 100%;
    border-radius: 25px;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    transition: .3s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 6px 10px rgb(40, 40, 40);
        background-color: white;
        color: black;
    }
}


.logo {
    font-size: 27px;
}