.main-header {
    height: 80px;
    background-image: var(--bgc-1);
    border-radius: 50px;
    margin: 10px;
    align-content: center;
}

.main-nav {
    text-align: end;
}

.gallery-btn,
.memes-btn,
.about-btn {
    color: white;
    padding: 0;
    height: 100%;
    width: 90px;
    border-radius: 25px;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    transition: .3s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 6px 10px rgb(40, 40, 40);
        background-color: white;
        color: black;
    }
}


.logo {
    font-size: 27px;
}