.main-header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 70px;
    background-color: var(--color-1);
    border-radius: 0 0 20px 20px;
    border: 2px rgb(0, 0, 0) solid;
    margin-bottom: 10px;
    align-content: center;
}

.main-nav {
    text-align: end;
    transition: .3s;
}

.gallery-btn,
.memes-btn,
.about-btn {
    color: white;
    padding: 10px;
    height: 100%;
    border-radius: 25px;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    transition: .3s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 6px 10px rgb(40, 40, 40);
        background-color: white;
        color: black;
    }
}


.logo {
    font-size: 27px;
    color: white;
}

.burger-menu {
    display: none;
    width: 40px;
    justify-self: right;
    background-color:transparent;
    border: 2px white solid;
    color: white;
    font-size: x-large;
    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    
}