@media (max-width:950px) {
    .main-layout {
        grid-template-columns: minmax(10px, 1fr) minmax(auto, 1200px) minmax(10px, 1fr);
    }

    .meme-editor {
        grid-template-columns: 100px minmax(100px, 1fr) 100px;
        grid-template-rows: minmax(400px, 1fr) minmax(400px, 1fr);
        gap: 5px;

        >.canvas-container {
            grid-column: 2/3;
            align-self: end;
        }

        >.edit-tools {
            grid-column: 2/3;
            padding: 5px;
        }
    }



    #memeTextInput {
        #fontFamily {
            font-size: medium;
            height: 45px;
        }
    }

}

@media (max-width:620px) {
    .main-header{
        position: static;
    }

    .meme-editor {
        grid-template-columns: 25px minmax(100px, 1fr) 25px;
    }

    .edit-btns {
        width: 50px;
        height: 50px;
    }

    
    
    .canvas-container {
        align-self: end;
    }
}

@media (max-width:450px) {
    .meme-editor {
        grid-template-columns: 30px minmax(100px, 1fr) 30px;
    }

    .edit-btns {
        width: 35px;
        height: 35px;
    }
    #fontFamily{
        height: 35px;
    }
}