
@media (max-width:1100px) {
    .meme-editor {
        gap:20px;

        .edit-tools{
            padding: 10px;
        }
        #fontFamily {
            font-size: medium;
        }
    }
}


@media (max-width:950px) {
    .main-layout {
        grid-template-columns: minmax(30px, 1fr) minmax(auto, 700px) minmax(30px, 1fr);
    }

    .meme-editor {
        grid-template-columns: minmax(350,auto);
        grid-auto-flow: column;
        gap: 5px;

        >.canvas-container {
            grid-row: 1;
        }
        
        >.edit-tools {
            grid-row: 2;
            padding: 5px;
        }
    }
}

@media (max-width:620px) {
    .main-header{
        position: relative;
    }

    .edit-btns {
        width: 50px;
        height: 50px;
    }

    .main-nav{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: -315px;
        border: 2px solid;
        
        background-color: var(--color-1);
        
        >button{
            padding: 10px 15px;
            border-radius: 0;
            border: 1px solid black;
        }
    }

    .burger-menu {
        display: block;
        grid-column: 3;

    }
}

